<strong>Olá, {{ student }} </strong>
<p>Sobre a sua sua solicitação, ela foi respondida!</p>
<p>
  Você havia nos mandado a seguinte solicitação:
  <strong>{{ question }}</strong>. <br />
  A equipe GymPoint respondeu: <strong>{{ answer }}</strong> <br />
  <br />

</p>